* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #88d0ec;
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  color: #444;
}

.App {
  width: 500px;
  height: 500px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
  padding: 20px;
  margin: auto;
}

#title {
  text-align: center;
  border-bottom: 10px solid #88d0ec;
}

h2 {
  text-align: center;
}

button {
  border: none;
  color: #fff;
  background-color: #88d0ec;
  font-size: 1em;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  margin: 5px;
}

#addUser {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

#btn-edit {
  background-color: #88d0ec;
}

#btn-delete {
  background-color: #e72020;
}

#table {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: #fafafa;
  border-radius: 10px;
  padding: 10px;
  margin: 0 auto;
}

#formUpdate {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App {
    width: 450px;
  }
}
