* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #fff;
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  color: #444;
}

.App {
  width: 500px;
  height: 500px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
  padding: 20px;
  margin: auto;
}

#title {
  text-align: center;
}

h2 {
  text-align: center;
}

button {
  border: none;
  background: #f09797;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
  padding: 10px;
  margin: 0 auto;
  border-radius: 10px;
  text-align: center;
}

table thead td {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App {
    width: 450px;
  }
}

